* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#special {
  background: rgb(182, 171, 192);
  min-height: 100vh;
}



#special .heading h1 span {
  color: rgb(78, 78, 139);
  text-align: center;
  
}

#special .heading p {
  color: rgb(112, 61, 160);
  font-size: 3rem;
  text-align: center;
}

#special .card-container {
  width: 95%;
  margin: 7rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#special .card-container .card {
  height: 40rem;
  width: 30rem;
  background: #fff;
  padding: 1rem;
  margin: 2rem;
  text-align: center;
}

#special .card-container .card img {
  height: 50%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#special .card-container .card p {
  font-size: 1.4rem;
  margin: 2rem 0;
  color: rgb(53, 15, 88);
}

#special .card-container .card button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 3.5rem;
  width: 14rem;
  background: #333;
  color: #fff;
}

#special .card-container .card button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF200;
  height: 100%;
  width: 0%;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: -1;
}

#special .card-container .card button:hover::before {
  width: 100%;
}

#special .card-container .card button:hover {
  color: #333;
}

#special .card-container .card:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
